@import './partials/variables'; // colors, fonts etc...

@import './partials/mixins'; // custom mixins

@import './partials/layout'; // responsive grid and media queries

@import './loader';

@import './status-bar';


/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font: {
	size: 1.6rem;
	family: $primary-font;
    weight: 300;
  }
  color: $grey;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $background-color;
  margin-top: 80px;
  padding-bottom: 80px;
}

a {
  color: $grey;
  text-decoration: none;
}


.page-wrapper {
  margin-bottom: 70px;
}

app {
  margin-top: 50px;
}
/* --------------------------------

Patterns - reusable parts of our design

-------------------------------- */

.overflow-hidden {
  overflow: hidden;
}

/* --------------------------------

Hero

-------------------------------- */
.hero {
  text-align: center;
  opacity: 1;
  transition: all 1s;

  &.hidden{
    opacity: 0;
  }

  &_headline{
    font-family: Pacifico;
    font-size: 44px;
    margin-top: 155px;
    margin-bottom: 0;
    font-weight: normal;
    color: #4d4d4d;
  }

  &_sub-headline{
    font-size: 13px;
    font-family: $primary-font;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
    color: #666666;
    margin-top: 5px;
    letter-spacing: 0.3em;
  }
}

/* --------------------------------

Header

-------------------------------- */

.header {
  position: fixed;
  width: 100%;
  background: white;
  left: 0;
  top: 0;
  padding: 10px;
  height: 60px;
  box-shadow: 1px 1px 2px 1px #ababab;
  z-index: 200;
  display: flex;

  &_logo {
    height: 100%;
    margin-left: 40px;
  }

}

.search-bar{
  display: inline-block;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  flex-grow: 1;
  min-width: 0;

  &_form{
    display: flex;
    height: 38px;
    line-height: 40px;

    &_button {
      cursor: pointer;
      background: none;
      text-transform: uppercase;
      border: none;
      font-size: 1em;
      border-radius: 2px;
      letter-spacing: 1px;
      color: $grey;
      width: 50px;
      box-shadow: none !important; //We have to do this to override ionic styles ...
      margin: 0 auto 0 -51px;
    }

    &_input {
      background: $white;
      padding: 0.5em 1em 0.5em 0.7em;
      flex-grow: 1;
      margin:0 auto;
      color: $grey;
      border-radius: 5px;
      max-width: 100%;
      font-size: 1em;
      overflow: visible;
      transition: opacity 0.3s ease 0s;
      box-shadow: none;
      border: 1px solid $grey;

      &::-webkit-input-placeholder {
        color: lighten($color-1, 20);
      }

    }
  }

  &_results {
    overflow: visible;
    list-style:none;
    color: $grey;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    width: 100%;
    height: 0;

    &_track{
      padding: 5px 1em;
      background: $white;
      z-index: 2;
      border-bottom: 1px solid grey;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      position: relative;

    &:hover, &:active, &:focus{
      background: $lightgrey;
      cursor: pointer;
    }

    }
  }
}

.results{
  list-style:none;
  padding: 20px;
  margin-top: 0;
  max-width: 500px;
  margin: 0 auto;
}

.track{
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 10px;
  border-radius: 3px;
  color: white;
  text-align: left;

  &_background-image {
    position: absolute;
    top: 0;
    margin: -7px;
    left: 0;
    height: calc(100% + 14px);
    width: calc(100% + 14px);
    background-size: 100% auto;
    z-index: 0;
    filter: blur(7px);
    animation: fade 8s;
    -webkit-animation: fade 8s;
    transition: background ease-in-out 0.5s;
  }

  &_content {
  	position: relative;
  	z-index: 1;
  	padding: 15px;
  	background: rgba(0, 0, 0, 0.2);

    &.active {
      font-weight: bold;
    }
  }
}
