
// colors
$color-1: 	white;
$color-2: 	#00aeef;
$color-3: 	#ffb700;
$color-4: 	#65d29b;
$color-5: 	#69458D;
$color-6: 	#f6772c;
$color-7: 	#1c1726;
$color-8: 	#ffffff;
$white:	  	#ffffff;
$black:	  	#000;
$grey:	  	#ababab;
$lightgrey:	#f4f4f4;
$background-color: $lightgrey;

// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: Georgia, 'Times New Roman', Times, serif;

